{% extends "base.html" %}

{% block title %}{{ collection.name }}{% endblock %}

{% block content %}
<h1 class="mb-4">{{ collection.name }}</h1>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Год</th>
            <th>Автор</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.author }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('collections') }}" class="btn btn-primary">Назад к подборкам</a>
{% endblock %}
